  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
      font-family: 'Inter', sans-serif;
      background-color: #0c73da;
      color: #333;
      line-height: 1.7;
    }

    /* Navbar */
    nav {
      background-color: #2c3e50;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-brand {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    .nav-links a {
      color: #ecf0f1;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
    }

    .nav-links a:hover {
      color: #1abc9c;
    }

    /* Main content */
    main {
      max-width: 900px;
      margin: 40px auto;
      padding: 30px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    }

    h1 {
      text-align: center;
      font-size: 28px;
      color: #2c3e50;
      margin-bottom: 10px;
    }

    hr {
      margin: 15px 0 25px;
      border: none;
      border-top: 2px solid #ddd;
    }

    p {
      margin-bottom: 15px;
      font-size: 16px;
    }

    ul {
      margin-left: 20px;
      margin-bottom: 20px;
    }

    ul li {
      margin-bottom: 10px;
    }

    /* Style tombol ikon rumah */
  .home-button {
  background-color: #2776ed;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}

/* Efek saat hover */
.home-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Hilangkan border fokus bawaan browser */
.home-button:focus {
  outline: none;
}


    /* Responsive */
    @media (max-width: 600px) {
      nav {
        flex-direction: column;
        align-items: flex-start;
      }

      .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
      }

      main {
        margin: 20px;
        padding: 20px;
        width: 100%;
        border-collapse: collapse;
        
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        padding: 0.80rem;
      }
    }